{% extends 'homebase.html.twig' %}

{% block title %}User
{% endblock %}

{% block body %}

	<section class="ftco-section ftco-no-pt ftco-no-pb">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 order-md-last ftco-animate py-md-5 mt-md-5">
					<div class="comment-form-wrap pt-5">
						<h3 class="mb-5">User Register</h3>

						<form name="user1" method="post" enctype="multipart/form-data">
							<div>
								<label for="user1_email" class="required">Email</label><br><input type="text" id="user1_email" name="user1[email]" required="required" maxlength="180"/></div>
							<div>
								<label for="user1_password" class="required">Password</label><br><input type="password" id="user1_password" name="user1[password]" required="required"/></div>
							<div>
								<label for="user1_name">Name</label><br><input type="text" id="user1_name" name="user1[name]" maxlength="50"/></div>
							<div>
								<label for="user1_surname">Surname</label><br><input type="text" id="user1_surname" name="user1[surname]" maxlength="20"/></div>
							<div></div><br>
							<button type="submit" class="btn py-3 px-4 btn-primary">Register</button>
							<input type="hidden" id="user1__token" name="user1[_token]" value="{{ csrf_token('authenticate') }}"/></form>

					</div>


				</div>
			</div>
		</div>

	{% endblock %}
