<!-- Sidebar -->
<div class="sidebar sidebar-style-2">
	<div class="sidebar-wrapper scrollbar scrollbar-inner">
		<div class="sidebar-content">
			<div class="user">
				<div class="avatar-sm float-left mr-2">
					<img src="{{asset('uploads/images/' ~ app.user.image)}}" alt="..." class="avatar-img rounded-circle">
				</div>
				<div class="info">
					<a data-toggle="collapse" href="#collapseExample" aria-expanded="true">
						<span>
							{{app.user.name}}
							<span class="user-level">Administrator</span>
							<span class="caret"></span>
						</span>
					</a>
					<div class="clearfix"></div>

					<div class="collapse in" id="collapseExample">
						<ul class="nav">
							<li>
								<a href="#profile">
									<span class="link-collapse">My Profile</span>
								</a>
							</li>
							<li>
								<a href="#edit">
									<span class="link-collapse">Edit Profile</span>
								</a>
							</li>
							<li>
								<a href="{{path('app_logout')}}">
									<span class="link-collapse">Log Out</span>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<ul class="nav nav-primary">
				<li class="nav-item">
					<a href="/admin/category">
						<i class="fas fa-desktop"></i>
						<p>Kategori</p>
						{# <span class="badge badge-success">4</span> #}
					</a>
				</li>
				<li class="nav-item">
					<a href="/admin/travel">
						<i class="fas fa-car-alt"></i>
						<p>Gezi ve Aktivite</p>
						{# <span class="badge badge-success">4</span> #}
					</a>
				</li>

				<li class="nav-item">
					<a href="/admin/setting">
						<i class="fas fa-cog"></i>
						<p>Settings</p>

					</a>
				</li>
				<li class="nav-item">
					<a href="/admin/user">
						<i class="fas fa-address-card"></i>
						<p>Users</p>

					</a>
				</li>

				<li class="nav-item">
					<a href="/admin/messages">
						<i class="fab fa-facebook-messenger"></i>
						<p>Gelen Mesajlar</p>

					</a>
				</li>


			</ul>
		</div>
	</div>
</div>
<!-- End Sidebar -->
