{% extends 'adminbase.html.twig' %}

{% block title %}Edit Travel
{% endblock %}

{% block body %}
	<div class="main-panel">
		<div class="content">
			<div class="panel-header bg-primary-gradient">
				<div class="page-inner py-5">
					<div class="d-flex align-items-left align-items-md-center flex-column flex-md-row"></div>
				</div>
			</div>
			<div class="page-inner mt--5">
				<div class="row-md-12 mt--2">
					<div class="col-md-12">
						<div class="card full-height">
							<div class="card-body">
								<div class="card-title pb-2 fw-bold">Geziler ve Aktiviteler Duzenle</div>
								<div class="flex-wrap justify-content-around pb-2 pt-4">

									{{ include('admin/travel/_form.html.twig', {'button_label': 'Update'}) }}

									<a href="{{ path('admin_travel_index') }}">back to list</a>

									{{ include('admin/travel/_delete_form.html.twig') }}

								</div>
							</div>
						</div>
					</div>


				</div>
			</div>

		</div>
	{% endblock %}
