</div>
<!-- .col-md-8 -->
<div class="col-lg-4 sidebar ftco-animate bg-light py-md-5">

	<div class="sidebar-box ftco-animate">
		<div class="categories">
			<h3>
				<b>User Menu</b>
			</h3>
			<br>
			<br>
			<img src="{{asset('uploads/images/' ~ app.user.image)}}" alt="..." class="avatar-img" style="height:60px;margin-right:20px">
			<span>
				{{app.user.name}}
				{{app.user.surname}}<span>
					<br>
					<br>
					<br>
					<li>
						<a href="/user">My Profile
						</a>
					</li>
					<li>
						<a href="/user/travel">Gezi ve Aktiviteler
						</a>
					</li>
					<li>
						<a href="/user/comments">Comments 
						</a>
					</li>
			
		
					<li>
						<a href="/logout">Log Out</a>
					</li>
				</div>
			</div>

		</div>
	</div>
</section>
<!-- .section -->
